<form method="post" action="{{ path('ownpost_delete', {'id': ownpost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ownpost.id) }}">
    <button class="btn">Delete</button>
</form>
