{% extends 'base.html.twig' %}

{% block title %}Edit OwnPost{% endblock %}

{% block body %}
    <h1>Edit OwnPost</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('ownpost/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">back to list</a>
    
    {{ include('ownpost/_delete_form.html.twig') }}
{% endblock %}
