{% extends 'base.html.twig' %}

{% block title %}New OwnPost{% endblock %}

{% block body %}
    <h1>Create new OwnPost</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('ownpost/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
