{% extends 'base.html.twig' %}

{% block title %}OwnPost{% endblock %}

{% block body %}
    <h1>OwnPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ ownpost.Title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ownpost.Content }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ ownpost.Categorie }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ ownpost.PublicationDate ? ownpost.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditionDate</th>
                <td>{{ ownpost.EditionDate ? ownpost.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Returns</th>
                <td>
                    {{ include('ownreturn/tab.html.twig', {'ownreturns': ownpost.ownReturns}) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">back to list</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.IsHerPost(ownpost) or is_granted('ADMIN') %}
            <a href="{{ path('ownpost_edit', {'id': ownpost.id}) }}">edit</a>

            {{ include('ownpost/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
