<table class="table">
    <thead>
        <tr>
            <th>Content</th>
            <th>Title</th>
            <th>Categorie</th>
            <th>PublicationDate</th>
            <th>EditionDate</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ownpost in ownposts %}
        <tr>
            <td>{{ ownpost.Content }}</td>
            <td>{{ ownpost.Title }}</td>
            <td>{{ ownpost.Categorie }}</td>
            <td>{{ ownpost.PublicationDate ? ownpost.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ ownpost.EditionDate ? ownpost.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('ownpost_show', {'id': ownpost.id}) }}">show</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.IsHerPost(ownpost) or is_granted('ADMIN') %}
                        <a href="{{ path('ownpost_edit', {'id': ownpost.id}) }}">edit</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
    <a href="{{ path('ownpost_new') }}">Create new</a>
{% endif %}