<form method="post" action="{{ path('ownreturn_delete', {'ID':id,'id': ownreturn.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ownreturn.id) }}">
    <button class="btn">Delete</button>
</form>
