{% extends 'base.html.twig' %}

{% block title %}Edit OwnReturn{% endblock %}

{% block body %}
    <h1>Edit OwnReturn</h1>

    {{ include('error_form.html.twig', {'error': error}) }}
    
    {{ include('ownreturn/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ownreturn_index', {'ID':id}) }}">back to list</a>

    {{ include('ownreturn/_delete_form.html.twig') }}
{% endblock %}
