{% extends 'base.html.twig' %}

{% block title %}OwnReturn index{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('ownpost_show', {'id': id}) }}">OwnReturn index for {{ ownreturns[0].PostRelated.Title }}</a>
    </h1>
    {{ include('ownreturn/tab.html.twig', {'ownreturns': ownreturns})}}

    <a href="{{ path('ownreturn_new', {'ID':id}) }}">Create new</a>
{% endblock %}
