{% extends 'base.html.twig' %}

{% block title %}New OwnReturn{% endblock %}

{% block body %}
    <h1>Create new OwnReturn</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('ownreturn/_form.html.twig') }}

    <a href="{{ path('ownreturn_index', {'ID':id}) }}">back to list</a>
{% endblock %}
