{% extends 'base.html.twig' %}

{% block title %}OwnReturn{% endblock %}

{% block body %}
    <h1>OwnReturn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>PostRelated</th>
                <td>
                    <a href="{{ path('ownpost_show', {'id': ownreturn.PostRelated.id}) }}">{{ ownreturn.PostRelated.Title }}</a>
                </td>
            </tr>
            {% if ownreturn.ReturnRelated != null %}
                <tr>
                    <th>ReturnRelated</th>
                    <td>
                        <a href="{{ path('ownreturn_show', {'ID': ownreturn.PostRelated.id, 'id':ownreturn.ReturnRelated.id}) }}">'{{ ownreturn.ReturnRelated.Content }}' By : '{{ ownreturn.ReturnRelated.Email }}'</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Content</th>
                <td>{{ ownreturn.Content }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ ownreturn.PublicationDate ? ownreturn.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditionDate</th>
                <td>{{ ownreturn.EditionDate ? ownreturn.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ownreturn.Email }}</td>
            </tr>
            <tr>
                <th>ownReturns</th>
                <td>
                    {{ include('ownreturn/tab.html.twig', {'ownreturns': ownreturn.ownReturns}) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ownreturn_index', {'ID':id}) }}">back to list</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.IsHerReturn(ownreturn) or is_granted('ADMIN') %}
            <a href="{{ path('ownreturn_edit', {'ID':id,'id': ownreturn.id}) }}">edit</a>
            {{ include('ownreturn/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
