<table class="table">
    <thead>
        <tr>
            <th>Content</th>
            <th>PublicationDate</th>
            <th>EditionDate</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for ownreturn in ownreturns %}
        <tr>
            <td>{{ ownreturn.Content }}</td>
            <td>{{ ownreturn.PublicationDate ? ownreturn.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ ownreturn.EditionDate ? ownreturn.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ ownreturn.Email }}</td>
            <td>
                <a href="{{ path('ownreturn_show', {'ID':id, 'id': ownreturn.id}) }}">show</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.IsHerReturn(ownreturn) or is_granted('ADMIN') %}
                <a href="{{ path('ownreturn_edit', {'ID':id, 'id': ownreturn.id}) }}">edit</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('ownreturn_new', {'ID':id}) }}">Add return</a>