{% extends 'base.html.twig' %}

{% block title %}Edit OwnUser{% endblock %}

{% block body %}
    <h1>Edit OwnUser</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('ownuser/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ownuser_index') }}">back to list</a>

    {{ include('ownuser/_delete_form.html.twig') }}
{% endblock %}
