{% extends 'base.html.twig' %}

{% block title %}OwnUser index{% endblock %}

{% block body %}
    <h1>OwnUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ownuser in ownusers %}
            <tr>
                <td>{{ ownuser.id }}</td>
                <td>{{ ownuser.username }}</td>
                <td>{{ ownuser.roles ? ownuser.roles|json_encode : '' }}</td>
                <td>{{ ownuser.Email }}</td>
                <td>
                    <a href="{{ path('ownuser_show', {'id': ownuser.id}) }}">show</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.id == ownuser.id or is_granted('ADMIN') %}
                    <a href="{{ path('ownuser_edit', {'id': ownuser.id}) }}">edit</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('signup') }}">Create new</a>
{% endblock %}
