{% extends 'base.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block body %}
    <h1>SignUp</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('ownuser/_form.html.twig') }}

    <a href="{{ path('ownuser_index') }}">back to list</a>
{% endblock %}
