{% extends 'base.html.twig' %}

{% block title %}OwnUser{% endblock %}

{% block body %}
    <h1>OwnUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ownuser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ ownuser.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ ownuser.roles ? ownuser.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ownuser.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ownuser_index') }}">back to list</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.id == ownuser.id or is_granted('ADMIN') %}
            <a href="{{ path('ownuser_edit', {'id': ownuser.id}) }}">edit</a>
            {{ include('ownuser/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
