{% extends 'base.html.twig' %}

{% block title %}Categories Index{% endblock %}

{% block body %}
    <p>Les diverses catégories actuellement employées sont :</p>
    <ul>
        {% for categorie in categories %}
            {% if categorie != "" %}
                <li><a href="{{ path('categorie_search', {'search':categorie }) }}">{{ categorie }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
