{% extends 'base.html.twig' %}

{% block title %}Categorie Search{% endblock %}

{% block body %}
    {{ include('ownpost/tab.html.twig', {'ownposts':ownposts})}}
    <a href="{{ path('categorie_index') }}">Back to Categorie Index</a>
{% endblock %}
